.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: grid;
  justify-content: center;
  align-content: start;

  .nav-btn {
    border: none;
    border-radius: 0;
    background-color: $color-primary;
    
    
    width: 2.2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    display: grid;
    grid-template-rows: .2rem .4rem .2rem .4rem .2rem;
    
    .btn__element:nth-child(odd) {
      width: 100%;
      height: 100%;
      background-color: rgba(#fff, 1);
    }

    &:hover > .btn__element:nth-child(odd) {
      transform: rotate(360deg);
      animation: rotate 1000ms infinite;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg)
      }
      100% {
        transform: rotate(360deg)
      }
    }

  //   &::before,
  //   &::after {
  //     content: "";
  //     background-color: #fff;
  //     height: .5rem;
  //     width: 4.5rem;
  //     display: block;
  //   }

  //   &::before { transform: translateY(-1.5rem);}
  //   &::after { transform: translateY(1rem);}  
  }
}