.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;
    background-image: linear-gradient(rgba($color-secondary, .8), rgba($color-secondary, .8)), url(../img/back.jpg);
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    @media only screen and (max-width: $bp-medium) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-column: 1 / -1;   
      grid-row: 6 / 7;
    }
  }

  &__img--1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(#000, .1);
    border-radius: .5rem;
    transition: all 200ms;
    &:hover {
      transform: scale(1.2) 
    }

    @media only screen and (max-width: $bp-medium) {
      width: 120%;
      justify-self: center;
      margin-top: 5rem;
      margin-bottom: 5rem;
      grid-row: 1;
      grid-column: 2;

    }
  }
  &__img--2 {
    width: 115%;
    grid-row: 1 / 4;
    grid-column: 5 / 7;
    box-shadow: 0 2rem 5rem rgba(#000, .2);
    z-index: 20;
    border-radius: .5rem;
    transition: all 200ms;
    &:hover {
      transform: scale(1.3) 
    }
    @media only screen and (max-width: $bp-medium) {
      width: 90%;
      position: relative;
      top: -15rem;
      left: -5rem;
      grid-row: 1;
      grid-column: 3 / -1;
    }
    @media only screen and (max-width: $bp-small) {
      position: relative;
      top: -10rem;
      left: -5rem;
    }
  }
  &__content {
    background-color: $color-secondary;
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;

    display: grid;
    align-content: center;
    justify-items: start;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 5 / 6;
    }
  }
  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }

  &__btn {
    border-radius: .2rem;
  }
}